### EDA

In [2]:
import pandas as pd
import plotly as plt

In [7]:
df = pd.read_excel('C:/Users/fmerc/OneDrive/Escritorio/Analitica Computacional/Proyecto 1/Datos Proy 1 analitica.xlsx')

In [8]:
df

,Date,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,...,NaN,Mantenimiento,Equipo de Alquiler,Alquiler por Espacio,Servicios Publicos,Seguros,Salarios,Marketing,Inventario,Administrativos
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,...,Min,5000,2000,12000,3000,5000,30000,5000,5000,5000
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,...,Max,20000,10000,48000,12000,20000,120000,20000,20000,20000
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,...,Promedio,12500,6000,30000,7500,12500,75000,12500,12500,12500
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,...,Total,181000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8756,2018-11-30,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8757,2018-11-30,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8758,2018-11-30,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,2018-11-30,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day', 'Costos', 'Ingresos', 'Utilidad Bruta',
       'Amort, Gastos Fin, Impuestos ', 'Utilidad Neta', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29'],
      dtype='object')

In [10]:
df.drop(['Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 
         'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 
         'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29'], axis=1, inplace=True)

In [12]:
df

,Date,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Costos,Ingresos,Utilidad Bruta,"Amort, Gastos Fin, Impuestos",Utilidad Neta
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,20.6621,264.583333,243.921233,218.203733,25.71750
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,20.6621,212.500000,191.837900,171.182900,20.65500
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,20.6621,180.208333,159.546233,142.029983,17.51625
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,20.6621,111.458333,90.796233,79.962483,10.83375
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,20.6621,81.250000,60.587900,52.690400,7.89750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,20.6621,1044.791667,1024.129566,922.575816,101.55375
8756,2018-11-30,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,20.6621,795.833333,775.171233,697.816233,77.35500
8757,2018-11-30,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,20.6621,722.916667,702.254566,631.987066,70.26750
8758,2018-11-30,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes,20.6621,741.666667,721.004566,648.914566,72.09000
8759,2018-11-30,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,20.6621,608.333333,587.671233,528.541233,59.13000

In [13]:
df.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day', 'Costos', 'Ingresos', 'Utilidad Bruta',
       'Amort, Gastos Fin, Impuestos ', 'Utilidad Neta'],
      dtype='object')

### Estadistica descriptiva

In [16]:
Estadistica_descriptiva=df.describe()
Estadistica_descriptiva

c:\Users\fmerc\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,Date,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Costos,Ingresos,Utilidad Bruta,"Amort, Gastos Fin, Impuestos",Utilidad Neta,ROS,Margen_Utilidad_Bruta
count,8760,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8.760000e+03,8760.000000,8760.000000,8760.000000,8760.000000,8.465000e+03,8760.000000
mean,2018-05-31 23:59:59.999999744,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068,2.066210e+01,733.960474,713.298373,641.957415,71.340958,9.720000e+00,-inf
min,2017-12-01 00:00:00,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000,2.066210e+01,0.000000,-20.662100,-20.662100,0.000000,9.720000e+00,-inf
25%,2018-03-02 00:00:00,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000,2.066210e+01,198.958333,178.296233,158.957483,19.338750,9.720000e+00,89.614861
50%,2018-06-01 00:00:00,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000,2.066210e+01,525.520833,504.858733,453.778108,51.080625,9.720000e+00,96.068258
75%,2018-08-31 00:00:00,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000,2.066210e+01,1109.635417,1088.973316,981.116754,107.856563,9.720000e+00,98.137938
max,2018-11-30 00:00:00,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000,2.066210e+01,3704.166667,3683.504566,3323.459566,360.045000,9.720000e+00,99.442193
std,NaN,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746,7.105833e-15,671.872362,671.872362,606.566369,65.305994,1.884210e-15,NaN

### Calculo de Rentabilidad

In [37]:
### Rentabilidad Sobre los Ingresos

df['ROS'] = (df['Utilidad Neta'] / df['Ingresos'])

In [15]:
#### Margen de Utilidad Bruta
df['Margen_Utilidad_Bruta'] = (df['Utilidad Bruta'] / df['Ingresos']) * 100

In [18]:
#### Rentabilidad sobre Costos
df['Rentabilidad_Costos'] = (df['Utilidad Neta'] / df['Costos']) * 100

In [19]:
### Rentabilidad Bruta
df['Rentabilidad_Bruta'] = ((df['Ingresos'] - df['Costos']) / df['Costos']) * 100

### ¿Cual es el nivel de rentabilidad actual (promedio) del sistema de bicicletas compartidas y como ha evolucionado en el tiempo?

In [50]:
import plotly.graph_objects as go
import pandas as pd

# Asegúrate de que la columna de fecha esté en formato datetime
df['Date'] = pd.to_datetime(df['Date'])

# Agregar columnas para el año, mes y día
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

# Agrupar los datos solo con las columnas numéricas
df_year = df.groupby('Year')[['Utilidad Bruta', 'Utilidad Neta']].sum().reset_index()
df_month = df.groupby(['Year', 'Month'])[['Utilidad Bruta', 'Utilidad Neta']].sum().reset_index()
df_day = df.groupby(['Year', 'Month', 'Day'])[['Utilidad Bruta', 'Utilidad Neta']].sum().reset_index()

# Crear la figura base para el gráfico apilado
fig = go.Figure()

# Agregar las trazas para los años
fig.add_trace(go.Bar(x=df_year['Year'], y=df_year['Utilidad Bruta'], name='Utilidad Bruta', marker_color='blue'))
fig.add_trace(go.Bar(x=df_year['Year'], y=df_year['Utilidad Neta'], name='Utilidad Neta', marker_color='red'))

# Crear las opciones del dropdown para cambiar entre Año, Mes, Día
fig.update_layout(
    updatemenus=[
        dict(
            active=0,
            buttons=list([
                # Opción para agrupar por Año
                dict(label="Año",
                     method="update",
                     args=[{"x": [df_year['Year'], df_year['Year']],
                            "y": [df_year['Utilidad Bruta'], df_year['Utilidad Neta']],
                            "type": "bar"},
                           {"title": "Comparación por Año",
                            "xaxis": {"title": "Año"},
                            "yaxis": {"title": "Utilidad"}}]),
                # Opción para agrupar por Mes
                dict(label="Mes",
                     method="update",
                     args=[{"x": [df_month['Month'], df_month['Month']],
                            "y": [df_month['Utilidad Bruta'], df_month['Utilidad Neta']],
                            "type": "bar"},
                           {"title": "Comparación por Mes",
                            "xaxis": {"title": "Mes"},
                            "yaxis": {"title": "Utilidad"}}]),
                # Opción para agrupar por Día
                dict(label="Día",
                     method="update",
                     args=[{"x": [df_day['Day'], df_day['Day']],
                            "y": [df_day['Utilidad Bruta'], df_day['Utilidad Neta']],
                            "type": "bar"},
                           {"title": "Comparación por Día",
                            "xaxis": {"title": "Día"},
                            "yaxis": {"title": "Utilidad"}}])
            ]),
            direction="down",
            showactive=True,
        )
    ]
)

# Ajustar los títulos y modo de apilado
fig.update_layout(
    barmode='stack',  # Apilar las barras
    title='Comparación de Utilidad Bruta y Neta',
    xaxis_title='Fecha',
    yaxis_title='Utilidad'
)

# Mostrar la gráfica
fig.show()

In [ ]:
### Si es año es mes dejame ver tanto para 2018 y 2017 entonces por año serian barras separadas por año y por mes y apiladas por tipo de uitlidad 

### lo mismo dia barras agrupadas d elos dias del mes una para 2018 y otra para 2017

In [34]:
import plotly.io as pio

# Forzar renderizado en el navegador
pio.renderers.default = 'browser'

In [36]:
df

,Date,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),...,Functioning Day,Costos,Ingresos,Utilidad Bruta,"Amort, Gastos Fin, Impuestos",Utilidad Neta,ROS,Margen_Utilidad_Bruta,Rentabilidad_Costos,Rentabilidad_Bruta
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,...,Yes,20.6621,264.583333,243.921233,218.203733,25.71750,9.72,92.190702,124.467017,1180.524862
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,...,Yes,20.6621,212.500000,191.837900,171.182900,20.65500,9.72,90.276659,99.965635,928.453039
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,...,Yes,20.6621,180.208333,159.546233,142.029983,17.51625,9.72,88.534326,84.774779,772.168508
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,...,Yes,20.6621,111.458333,90.796233,79.962483,10.83375,9.72,81.462041,52.432956,439.433702
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,...,Yes,20.6621,81.250000,60.587900,52.690400,7.89750,9.72,74.569723,38.222155,293.232044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,...,Yes,20.6621,1044.791667,1024.129566,922.575816,101.55375,9.72,98.022371,491.497707,4956.560773
8756,2018-11-30,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,...,Yes,20.6621,795.833333,775.171233,697.816233,77.35500,9.72,97.403715,374.381105,3751.657459
8757,2018-11-30,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,...,Yes,20.6621,722.916667,702.254566,631.987066,70.26750,9.72,97.141842,340.079171,3398.756906
8758,2018-11-30,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,...,Yes,20.6621,741.666667,721.004566,648.914566,72.09000,9.72,97.214099,348.899669,3489.502762
8759,2018-11-30,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,...,Yes,20.6621,608.333333,587.671233,528.541233,59.13000,9.72,96.603490,286.176133,2844.198895

In [40]:
df['ROS'].value_counts()

ROS
0.0972    7503
0.0972     505
0.0972     457
Name: count, dtype: int64